@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Strona do zarządzania magazynem</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <p>Zaloguj się aby zacząć korzystać</p>
    }
</div>
