@model List<MVCBooksWebApi.Models.Domain.User>

<h1>Użytkownicy</h1>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa użytkownika</th>
                <th>Hasło</th>
                <th>Rola</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Username</td>
                    <td>••••••••</td>
                    <td>@user.Role</td>
                    <td><a href="Users/View/@user.Id">Więcej</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
